
.auth-view-container
	&.ng-enter
		@include fadeIn()

	&.ng-leave
		@include fadeOut()

.auth-page-container
	padding-top: 30px
	min-height: 100vh


.auth-page-card
	width: 60%
	margin: 0 auto 5px auto
	background: transparent

.auth-page-header
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	height: 60px
	margin-bottom: 20px

	h3
		@include lato
		font-weight: 300
		letter-spacing: 2px


.auth-form-wrapper
	position: relative
	width: 90%
	margin: 0 auto
	margin-bottom: 40px

	label
		display: inline-block
		position: absolute
		top: 6px
		left: 6px
		@include lato
		font-weight 300
		z-index: 50
		transition: all .4s ease

	input
		position: relative
		width: 100%
		height: 30px
		padding: 0
		padding-left: 6px
		@include lato
		font-weight: 400
		font-size: 18px
		transition: all .4s ease

	&.has-focus
		label
			left: -145px

	&.has-success
		label
			left: -145px

	&.has-error
		label
			left: -145px

		&:not(.has-focus)
			label
				left: -145px

.auth-form-utilities
	display: flex
	align-items: center
	justify-content: space-between
	width: 90%
	margin: 0 auto

	div
		display: inline-block

		p
			margin-bottom: 16px
			@include lato
			font-weight: 300
			font-style: italic


.auth-form-submit
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	height: 70px
	padding-bottom: 20px

	button
		display: flex
		align-items: center
		justify-content: center
		height: 40px
		width: 140px
		transition: all .4s ease

		span
			@include lato
			font-weight: 300
			font-size: 18px
			

			&.ng-enter
				@include fadeIn()

			&.ng-leave
				@include fadeIn()

		i

			&.ng-enter
				@include fadeIn()

			&.ng-leave
				@include fadeIn()

.auth-page-footer
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 18px

	p
		@include lato
		font-weight: 400
		letter-spacing: 1px

		a
			text-decoration: none
			@include merry
			font-weight: 300
			transition: all .4s ease

.auth-page-social
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

	p
		@include lato
		font-weight: 300
		letter-spacing: 1px

	> div
		display: flex
		flex-direction: row
		align-items: stretch
		justify-content: center

.auth-page-social-button
	display: inline-flex
	align-items: center
	justify-content: center
	height: 55px
	width: 55px
	margin-right: 8px
	border-radius: 50%

	button
		height: 45px
		width: 45px
		background: none
		border-radius: 50%


	&:last-child
		margin-right: 0

@import "login"