.landing-page-container
	display: flex
	flex-direction: column

.landing-page-header
	position: relative
	min-height: 570px

.landing-page-image
	position: absolute
	top: -90px
	left: 0
	width: 100%
	min-height: 670px
	background: url(../static/images/blue-city.jpg) no-repeat
	background-size: 100% 100%


.landing-page-overlay
	position: absolute
	top: -70px
	left: 0
	width: 100%
	height: 650px

.landing-page-overlay-content
	display: flex
	flex-direction: column
	align-items: center
	height: 650px
	padding-top: 170px

	> p
		padding-bottom: 55px
		@include lato
		font-weight: 300
		font-size: 28px

		&:nth-of-type(2)
			width: 60%
			margin: 0 auto
			font-size: 16px
			letter-spacing: 1px

.landing-page-overlay-content-download
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	margin-top: 50px

	button

		&:nth-of-type(1)
			height: 45px
			width: 230px
			margin-right: 25px
			border-radius: 20px
			border: none
			transition: all .4s ease

			span
				@include lato
				font-weight: 300

	.landing-page-learn-more
		position: relative
		height: 45px
		width: 150px
		background: none
		border: none

		span
			@include lato
			font-weight: 300
			letter-spacing: 1px

		i
			position: absolute
			top: 16px
			right: 8px
			opacity: 0
			transition: all .4s ease

		&:hover
			i
				opacity: 1
			

@media only screen and (max-width: 610px), only screen and (max-device-width: 610px)
	
	.landing-page-image
		height: 820px

	.landing-page-overlay
		height: 800px
	.landing-page-overlay-content
		height: 800px
		padding-top: 100px

		> p
			padding-top: 15px
			width: 60%
			text-align: center
			font-size: 33px

			&:nth-of-type(2)
				width: 60%

	.landing-page-overlay-content-download
		flex-direction: column
		justify-content: center

		button
			&:nth-of-type(1)
				margin-bottom: 35px
				margin-right: 0

@media only screen and (max-width: 580px), only screen and (max-device-width: 580px)

	.landing-page-overlay-content
		> p
			width: 70%

			&:nth-of-type(2)
				width: 80%

@media only screen and (max-width: 440px), only screen and (max-device-width: 440x)
	.landing-page-image
		height: 980px

	.landing-page-overlay
		height: 960px

	.landing-page-overlay-content
		height: 960px


