<md-dialog class='auth-dialog' flex='55'>	`	
	<md-dialog-content>
		<div class='auth-dialog-header'>
			<h3>Reset your password</h3>
			<button ng-click="vm.close()">
				<i class='mdi mdi-close'></i>
			</button>
		</div>

		<div class='auth-dialog-body'>
			<p>Enter your email below and you will be sent an email with further instructions</p>
			<div class='auth-dialog-form'>
				<form name='vm.resetForm' novalidate>
					<div class='auth-form-wrapper'>
						<label>Email</label>
						<input type='email' ng-model='vm.attempt.email' required>
					</div>
				</form>
			</div>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<div class='auth-dialog-actions'>
			<button ng-click="vm.generateReset()">
				<span>Reset</span>
			</button>

			<button ng-click="vm.close()">
				<span>I Remembered</span>
			</button>
		</div>
	</md-dialog-actions>
</md-dialog>