<md-dialog class='auth-dialog' flex='55'>	`	
	<md-dialog-content>
		<div class='auth-dialog-header'>
			<h3>Reset your password</h3>
			<button ng-click="vm.close()">
				<i class='mdi mdi-close'></i>
			</button>
		</div>

		<div class='auth-dialog-body' ng-if="!vm.tokenSent">
			<p>Enter your email below and you will be sent an email with further instructions</p>
			<div class='auth-dialog-form'>
				<form name='vm.resetForm' novalidate>
					<div class='auth-form-wrapper'>
						<label>Email</label>
						<input type='email' ng-model='vm.attempt.email' required>
					</div>
				</form>
			</div>
		</div>

		<div class='auth-dialog-body' ng-if="vm.tokenSent">
			<p>Please copy and paste the code your should have received in an email here along with your new password</p>

			<form name='vm.confirmResetForm' novalidate>
				<div class='auth-form-wrapper'>
					<label>Reset Code</label>
					<input type='text' ng-model='vm.attempt.token' required>
				</div>

				<div class='auth-form-wrapper'>
					<label>New Password</label>
					<input type='password' ng-model='vm.attempt.password' required>
				</div>
			</form>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<div class='auth-dialog-actions' ng-if="!vm.tokenSent">
			<button ng-click="vm.generateReset()">
				<span>Send Email</span>
			</button>

			<button ng-click="vm.close()">
				<span>I Remembered</span>
			</button>
		</div>

		<div class='auth-dialog-actions' ng-if="vm.tokenSent">
			<button ng-click="vm.attemptReset()">
				<span>Reset</span>
			</button>

			<button ng-click="vm.close()">
				<span>Forget it</span>
			</button>
		</div>
	</md-dialog-actions>
</md-dialog>