<!DOCTYPE html>
<html ng-app='application.boiler'>
	<head>
		<meta charset='utf-8'>
		<link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic|Merriweather:400,300,700' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/vendor/mdi/css/materialdesignicons.css'>
		<link rel='stylesheet' href='/vendor/angular-material/angular-material.css'>
		<link rel='stylesheet' href='/stylesheets/main.min.css'>
	</head>

	<body ng-controller="AppController as vm">
		<nav class='nav' ng-class="settings.theme">
			<div class='nav-left'>
				<div class='nav-item' ng-class="settings.theme">
					<button ui-sref='landing'>
						<span>Home</span>
					</button>
				</div>
			</div>

			<div class='nav-center'>
				<div class='nav-item' ng-class="settings.theme">
					<h3>Application Boilerplate</h3>
				</div>
			</div>

			<div class='nav-right'>
				<div class='nav-button' ng-if="!isLoggedIn">
					<button ui-sref='auth.signup'>
						<span>Signup</span>
					</button>
				</div>

				<div class='nav-button' ng-if='!isLoggedIn'>
					<button ui-sref='auth.login'>
						<span>Login</span>
					</button>
				</div>

				<div class='nav-button nav-user-button' ng-if="isLoggedIn" ng-class="settings.theme">
					<button ng-click="vm.openUserMenu()"></button>
				</div>
			</div>
		</nav>


		<md-sidenav md-component-id='left' class='user-menu-left md-whiteframe-z2' ng-class="settings.theme">
			<div class='user-menu-left-header'>
				<div></div>
				<p>{{user.name}}</p>
				<p>{{user.email}}</p>
			</div>

			<div class='user-menu-left-body'>
				<md-list>
					<md-list-item md-ink-ripple ui-sref='profile.overview({username: user.username})'>
						<i class='mdi mdi-account'></i>
						<div class='inset'>
							Profile
						</div>
						<button class='md-secondary'>
							<i class='mdi mdi-arrow-down'></i>
						</button>
					</md-list-item>

					<md-list-item md-ink-ripple ui-sref='dashboard.home({username: user.username})'>
						<i class='mdi mdi-human-greeting'></i>
						<div class='inset'>
							Dashboard
						</div>
						<button class='md-secondary'>
							<i class='mdi mdi-arrow-down'></i>
						</button>
					</md-list-item>

					<md-list-item md-ink-ripple ui-sref='setting'>
						<i class='mdi mdi-comment-multiple-outline'></i>
						<div class='inset'>
							Messages
						</div>

						<button class='md-secondary'>
							<i class='mdi mdi-arrow-down'></i>
						</button>
					</md-list-item>

					<md-list-item md-ink-ripple ui-sref="setting">
						<i class='mdi mdi-settings'></i>
						<div class='inset'>
							Settings
						</div>
					</md-list-item>

					<md-list-item md-ink-ripple ui-sref='auth.logout'>
						<i class='mdi mdi-logout'></i>
						<div class='inset'>
							Logout
						</div>
					</md-list-item>
					
				</md-list>
			</div>
		</md-sidenav>
			


		<div ui-view></div>

		<script src='/vendor/angular/angular.js'></script>
		<script src='/vendor/angular-aria/angular-aria.js'></script>
		<script src='/vendor/angular-animate/angular-animate.js'></script>
		<script src='/vendor/angular-messages/angular-messages.js'></script>
		<script src='/vendor/angular-ui-router/release/angular-ui-router.js'></script>
		<script src='/vendor/angular-resource/angular-resource.js'></script>
		<script src='/vendor/angular-material/angular-material.js'></script>
		<script src='/angular/app.min.js'></script>
	</body>
</html>