<!DOCTYPE html>
<html ng-app='application.boiler'>
	<head>
		<meta charset='utf-8'>
		<link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic|Merriweather:400,300,700' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/vendor/mdi/css/materialdesignicons.css'>
		<link rel='stylesheet' href='/vendor/angular-material/angular-material.css'>
		<link rel='stylesheet' href='/stylesheets/main.min.css'>
	</head>

	<body ng-controller="AppController as vm">
		<nav class='nav' ng-class="settings.theme">
			<div class='nav-left'>
				<div class='nav-item'>
					<button>
						<span>Home</span>
					</button>
				</div>
			</div>

			<div class='nav-center'>
				<div class='nav-item'>
					<h3>Application Boilerplate</h3>
				</div>
			</div>

			<div class='nav-right'>
				<div class='nav-button' ng-if="!isLoggedIn">
					<button ui-sref='signup'>
						<span>Signup</span>
					</button>
				</div>

				<div class='nav-button' ng-if='!isLoggedIn'>
					<button ui-sref='login'>
						<span>Login</span>
					</button>
				</div>

				<div class='nav-button nav-user-button' ng-if="isLoggedIn">
					<button></button>
				</div>
			</div>
		</nav>

		<div ui-view></div>

		<script src='/vendor/angular/angular.js'></script>
		<script src='/vendor/angular-aria/angular-aria.js'></script>
		<script src='/vendor/angular-animate/angular-animate.js'></script>
		<script src='/vendor/angular-messages/angular-messages.js'></script>
		<script src='/vendor/angular-ui-router/release/angular-ui-router.js'></script>
		<script src='/vendor/angular-resource/angular-resource.js'></script>
		<script src='/vendor/angular-material/angular-material.js'></script>
		<script src='/angular/app.min.js'></script>
	</body>
</html>