<html>
<head></head>
<body>
	<div>
		<table>
			<thead>
				<tr>
					<th><h1></h1></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div>
							{{partial}}
						</div>
					</td>
				</tr>
				<tr>
					<td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>