<div class='profile-info-container'>
	<div class='profile-info-header'>
		<div>
			<h3>Tell People About Yourself</h3>
			<div>
				<div>
					<button>
						<span>1</span>
					</button>
					<span>Something</span>
				</div>

				<div>
					<button>
						<span>2</span>
					</button>
					<span>Something</span>
				</div>

				<div>
					<button>
						<span>3</span>
					</button>
					<span>Something</span>
				</div>
			</div>
		</div>
	</div>

	<div class='profile-info-body'>
		<form name='vm.editForm' novalidate>	
			<div>
				<div class='form-wrapper-2'>
					<label>Gender</label>
					<input type='text' name='gender' ng-model='vm.user.gender'>
				</div>

				<div class='form-wrapper-2'>
					<label>Phone</label>
					<input type='text' name='phone' ng-model='vm.user.phone'>
				</div>
			</div>
		</form>

		<div class='profile-info-actions'>
			<button>
				<span>Previous</span>
			</button>

			<button>
				<span>Next</span>
			</button>

			<button>
				<span>Review</span>
			</button>

			<button ng-click="vm.submit()">
				<span>Submit</span>
			</button>
		</div>
	</div>
</div>