
.nav
	display: flex
	align-items: stretch
	justify-content: stretch
	position: relative
	z-index: 50

.nav-left
	display: flex
	flex: 1
	align-items: stretch
	justify-content: flex-start

.nav-center
	display: flex
	align-items: center
	justify-content: center

.nav-right
	display: flex
	flex: 1
	align-items: stretch
	justify-content: flex-end

.nav-item
	display: flex
	align-items: center
	justify-content: center
	padding: 10px

.nav-button
	display: flex
	align-items: center
	justify-content: center
	padding: 10px

@import "./authentication/authentication"