.application-button-loading-bar
	.md-scale-wrapper
		.md-spinner-wrapper
			.md-inner

				.md-gap
					border-top-color: #dfe1df
					border-bottom-color: #dfe1df

				.md-left
					.md-half-circle
						border-left-color: #dfe1df
						border-top-color: #dfe1df

				.md-right
					.md-half-circle
						border-right-color: #dfe1df
						border-top-color: #dfe1df
						border-bottom-color: #dfe1df

	&.ng-enter
		@include fadeIn()

	&.ng-leave
		@include fadeOut()

.decorator-circle
	position: relative
	width: 50%
	margin: 0 auto
	height: 1px
	background: rgba(0,0,0,0.35)

.circle
	display: block
	position: absolute
	left: 49%
	top: -4px
	width: 7px
	height: 7px
	border: 1px solid rgba(0,0,0,0.45)
	border-radius: 4px
	background: #fff